@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


img {
  display: block;
  max-width: 50%;
  height: auto;
}


.nowrap {
  white-space: nowrap;
}


html {
  scroll-behavior: smooth;
}

body {
  font: 1.5rem "Nunito", sans-serif;
  min-height: 100vh;
  background-color: #475569;
  background-image: radial-gradient(whitesmoke, black);
  display: flex;
  flex-direction: column;
}

header,
footer {
  position: sticky;
  background-color: black;
  color: whitesmoke;
  text-align: center;
}
header h1 {
  margin-top: 5 px;
}
header {
  display: flow-root;
  justify-content: space-evenly;
  align-items: flex-start;
  top: 0;
}

nav {
  background-color: #eee;
  box-shadow: 0 15px 5px -5px black;
  
  
}
.navlist {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;


}
.navlist-item {
  display: inline-block;
  padding: 10px 5px;
  transition: all 2s;
}
.navlist-item a {
  color:black;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 10px 5px;
  transition: all 1s;
}
.navlist-item :hover {
  background-color:rgb(179, 190, 190);
}
.navlist-item :hover a{
  color:rgb(0, 10, 10);
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
}
.box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-flow:wrap;
    column-gap: 0.5rem;
}
footer {
  bottom: 0;
}
h2 {
    text-shadow: 2px 2px 2px grey;
}


.card {
  scroll-margin-top: 8rem;
  width: min(100%, 350px);
  background-color: #cbd5e1;
  border: 2px solid #000;
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card figure {
  display: flex;
  flex-flow: column nowrap;
}


.card img {
  border: 5px double #333;
  border-radius: 50%;

p .error {
    margin: 0.3em;

}

.card figcaption {
  font-weight: bolder;
  font-size: 2rem;
  margin: 1rem;
  text-align: center;
}
.card figcaption::after {
   /*  content: '🔥'; */
    content: '🚀';
    display: block;
}

.card figcaption::first-letter {
    font-size: 3rem;
}

.container {
    margin: 100px;
    padding-left: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    box-shadow: 2px 6px 6px black;
}