<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 Name Not Found</title>
    <link rel="stylesheet" href="css/main.css" />
  </head>

  <body>
    <header  >
      <h1>Our Team </h1>
      <img id="logo" src="../images/cryptologo_cyan.svg" alt="CryptoLog logo" width="15%" height="15%"/>
      <nav aria-label="primary navigation">
        <ul class="navlist">
            <li class="navlist-item"><a href="/">Home</a></li>
            
            
        </ul>
    </nav>
    </header>

    <main >
        <h2>Scrum heads</h2>
        <section class="box">
            

        
 <article id="profile6" class="card">
        <figure>
          <img
            src="../images/Mihai.jpg"
            alt="Mihai"
            width="512"
            height="512"
          />
          <figcaption>Mihai</figcaption>
        </figure>
        <p><q>Product owner</q></p>
      </article>
      <article id="profile7" class="card">
        <figure>
          <img
            src="../images/Adriana.jpg"
            alt="Adriana"
            width="512"
            height="512"
          />
          <figcaption>Adriana</figcaption>
        </figure>
        <p><q>Scrum master</q></p>
      </article>
      <article id="profile8" class="card">
        <figure>
          <img
            src="../images/Efosa.jpg"
            alt="Efosa"
            width="512"
            height="512"
          />
          <figcaption>Efosa <span class="nowrap"></span></figcaption>
        </figure>
        <p><q>Scrum master</q></p>
      </article>
    </section>
    <h2>Developers</h2>
        <section class="box">

       
      <article id="profile1" class="card">
        <figure>
          <img
            src="../images/Jasmin.png"
            alt="Jasmin"
            width="512"
            height="512"
          />
          <figcaption>Jasmin</figcaption>
        </figure>
        <p><q>I code stuff.</q></p>
      </article>
      <article id="profile2" class="card">
        <figure>
          <img
            src="../images/Laura.jpg"
            alt="Laura"
            width="512"
            height="512"
          />
          <figcaption>Laura</figcaption>
        </figure>
        <p><q>I code stuff.</q></p>
      </article>
      <article id="profile3" class="card">
        <figure>
          <img
            src="../images/Kriszta.jpg"
            alt="Kriszta"
            width="512"
            height="512"
          />
          <figcaption>Kriszta <span class="nowrap"></span></figcaption>
        </figure>
        <p><q>I code stuff.</q></p>
      </article>
      <article id="profile4" class="card">
        <figure>
          <img
          src="../images/Raul.png"
            alt="Raul"
            width="512"
            height="512"
          />
          <figcaption>Raul <span class="nowrap"></span></figcaption>
        </figure>
        <p><q>I code stuff.</q></p>
      </article>
      <article id="profile5" class="card">
        <figure>
          <img
          src="../images/Stefan.jpg"
            alt="Stefan"
            width="512"
            height="512"
          />
          <figcaption>Stefan<span class="nowrap"></span></figcaption>
        </figure>
        <p><q>I code stuff</q></p>
      </article>
    </section>
    </main>

    <footer>
      <p>&copy; 404 Name not found Co.</p>
    </footer>
  </body>
</html>