<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="/fragments/general.html :: head"></head>
    <body>
        <header th:replace="/fragments/general.html :: header"></header>
        <main>
            <div class="grid-container">
                <div class="col-1">
                    <div class="row-1">
                        <p>The Maximalist</p>
                    </div>
                    <div class="row-2">
                        <p>Opt in</p>
                    </div>
                </div>
                <div class="col-2">
                    <div class="row-1">
                        <p>The Conservative</p>
                    </div>
                    <div class="row-2">
                        <p>Opt in</p>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row-1">
                        <p>The Gambler</p>
                    </div>
                    <div class="row-2">
                        <p>Opt in</p>
                    </div>
                </div>
            </div>
        </main>
        <footer th:replace="/fragments/general.html :: footer"></footer>
    </body>
</html>