<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="/fragments/general.html :: head"></head>
    <body>
        <header th:replace="/fragments/general.html :: header"></header>
        <main>
            <section class="grid-container">
                <a href="" class="allocation">
                    <div class="box a">
                        <p>
                            The <br> Maximalist
                        </p>
                        <span>
                            100 % Bitcoin
                        </span>
                    </div>
                </a>
                <a href="" class="allocation">
                    <div class="box b">
                        <p>The <br> Conservative</p>
                        <span>
                            80/20
                        </span>
                    </div>
                </a>
                <a href="" class="allocation">
                    <div class="box c">
                        <p>The <br> Gambler</p>
                        <span>
                            40/30/30
                        </span>
                    </div>
                </a>
            </section>
        </main>
        <footer th:replace="/fragments/general.html :: footer"></footer>
    </body>
</html>