<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account confirmation</title>
</head>
<body>
<header  >
    <h1> Reset Success</h1>
    <img id="logo" src="../images/cryptologo_cyan.svg" alt="CryptoLog logo" width="15%" height="15%"/>

</header>
<main>
    <div class="containered">
<p>
        Your account with CryptoLog has been successfully created. Please click <a href="/login">here</a> to log in to your account</p>
    </div>
</main>
<footer>
    <p>&copy; 404 Name not found Co.</p>
</footer>
</body>

</html>