<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/outer :: head">
    <meta charset="UTF-8">
    <title>Account confirmation</title>
</head>
<body>
<header th:replace="fragments/outer :: header">
    <h1> Email Verification Success</h1>
    <img id="logo" src="../../static/images/cryptologo_cyan.svg" th:src="@{images/cryptologo_cyan.svg}" alt="CryptoLog logo" width="15%" height="15%"/>
</header>
<main>
    <div class="containered">
<p>
        Your account with CryptoLog has been successfully created and your email has been verified! Please click <a href="/login">here</a> to log into your account</p>
    </div>
</main>
<footer th:replace="fragments/outer :: footer">
    <p>&copy; 404 Name not found Co.</p>
</footer>
</body>

</html>