<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/general :: head"></head>
<body>
<header th:replace="/fragments/general :: header"></header>
<main>
    <div th:if="${coinString}" id="scroll-container">
        <div id="scroll-text" th:text="${coinString}"></div>
    </div>
    <div th:if=${errorMessage} class="background bgcol-whitesmoke" style="max-width: 90%;">
        <span th:utext="${errorMessage}"></span>
    </div>
    <div th:unless="${errorMessage}" id="contain">
        <form th:replace="/fragments/general :: filter"></form>
        <table th:replace="/fragments/general :: toptable"></table>
    </div>
</main>
<footer th:replace="/fragments/general :: footer"></footer>
</body>
</html>
