<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/general.html :: head"></head>
<body>
<header th:replace="/fragments/general.html :: header"></header>
<main>
    <div id="scroll-container">
        <div id="scroll-text" th:action="@{/home/text}" method="GET"  th:text="${coinString}" > </div>
        <!--        <span th:utext="${coinString}"></span>-->
    </div>
    <div id="contain">
        <form th:replace="/fragments/general.html :: filter"></form>
        <table th:replace="/fragments/general.html :: toptable"></table>
    </div>
</main>
<footer th:replace="/fragments/general.html :: footer"></footer>
</body>
</html>
