<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/general.html :: head"></head>
<body>
<header th:replace="/fragments/general.html :: header"></header>
<main>
    <div id="contain">
        <form th:action="@{/home}" method="get">
            <input type="text" placeholder="Search ..." name="filter" th:value="${filter}" autofocus>
            <input type="submit" value="Submit">
        </form>
        <table>
            <caption>Top 100 coins</caption>
            <thead>
            <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>Current Price (USD)</th>
                <th>All-Time High Price</th>
                <th>&#037; Drop from All-time High Price</th>
                <th>Tier</th>
                <th>Portfolio</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="coin: ${coinList}">
                <td th:text="${coin.market_cap_rank}"/>
                <td th:text="${coin.name} + ' (' + ${#strings.toUpperCase(coin.symbol)} + ')'"/>
                <td th:text="${coin.current_price}"/>
                <td th:text="${coin.ath}"/>
                <td th:text="${coin.ath_change_percentage}"/>
                <td th:text="${coin.market_cap_rank <= 2} ? 1 : (${coin.market_cap_rank <= 50} ? 2 : 3)"/>
                <td><a th:href="@{/home(coinId=${coin.id},filter=${filter})}" style="color: red; font-size: large; font-weight: bold;">
                    <span th:text="${#lists.contains(portfolio, coin.id)} ? '*' : '–'"/>
                </a></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<footer th:replace="/fragments/general.html :: footer"></footer>
</body>
</html>