<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CryptoLog</title>
    <script src="../../static/js/main.js" th:src="@{/js/main.js}"></script>
    <link th:href="@{/css/styleindex.css}" rel="stylesheet" href="../../static/css/styleindex.css" />
  </head>

  <body>
  <header th:replace="fragments/outer :: header"></header>
  <div class="maxi">

  <main>
    <div class="box dark-box">
<!--      <div class="log">-->

<!--      </div>-->
      <div>

        <h3>The World's Most Comprehensive Tool for
          Crypto Enthusiasts</h3>
      </div>
    </div>


    <a href="/portfolio" class="box">
      <div class="text">
        <h2>Portfolio</h2>
        <p>Choose your own currencies</p>
      </div>
      <div>
        <i class="glyphicon glyphicon-chevron-right"></i>

      </div>
    </a>

    <a href="/asset" class="box">
      <div class="text">
        <h2>Assests Allocation</h2>
        <p>What is that</p>
      </div>
      <div>
        <i class="glyphicon glyphicon-chevron-right"></i>

      </div>
    </a>
    <a href="/calculator" class="box">
      <div class="text">
        <h2>Yield Calculator</h2>
        <p>Estimate your profit</p>
      </div>
      <div>
        <i class="glyphicon glyphicon-chevron-right"></i>

      </div>
    </a>
    <a href="/calculator" class="box">
      <div class="text">
        <h2>Yield Calculator</h2>
        <p>Estimate your profit</p>
      </div>
      <div>
        <i class="glyphicon glyphicon-chevron-right"></i>

      </div>
    </a>
  </main>

  <aside>
    <img src="../../static/images/bit.jpg" th:src="@{images/bit.jpg}" alt="man" height="50%" width="50%"/>

  </aside>

    </div>
  <footer th:replace="fragments/outer :: footer">
    <p>&copy; 404 Name not found Co.</p>
  </footer>
  </body>
</html>