<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Form</title>
    <!-- link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" /-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>

<body>
<header  >
    <h1>Welcome</h1>
    <img id="logo" src="../images/cryptologo_cyan.svg" alt="CryptoLog logo" width="15%" height="15%"/>
    <nav aria-label="primary navigation">
        <ul class="navlist">
            <li class="navlist-item"><a href="/">Home</a></li>
            <li class="navlist-item"><a href="/about">About</a></li>

            <li class="navlist-item"><a href="/login">Login</a></li>
            <li class="navlist-item"><a href="/register">Register</a></li>

        </ul>
    </nav>
</header>
<main>
<div class="containered">

    <div
         >
        <form autocomplete="off" action="#" th:action="@{/register}" th:object="${user}" method="post"
              class="form-signin" role="form">
            <h3 class="form-signin-heading">Account Registration</h3>
            <div class="form-group">
                <div class="">
                    <input type="text" th:field="*{name}" placeholder="Name" class="form-control"/>
                    <p class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="text" th:field="*{email}" placeholder="Email - Example: abc@gmail.com/abcd@yahoo.com"
                           class="form-control"/>
                    <p class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="password" th:field="*{password}"
                           placeholder="Password - min. 8 chars, 1 upper, 1 lowercase and a special symbol"
                           class="form-control"/>
                    <p class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <button type="submit" class="btn btn-primary btn-block">Register User</button>
                </div>
            </div>
            <span th:utext="${successMessage}"></span>
            <p>Already registred? <a href="/login">Login</a></p>
        </form>
    </div>
</div>
</main>
<footer>
    <p>&copy; 404 Name not found Co.</p>
</footer>
</body>
</html>