<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--========== BOX ICONS ==========-->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

    <!--========== CSS ==========-->
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="../../static/css/styles.css">
    <script src="https://kit.fontawesome.com/510c92cedb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--========== FAVICON ==========-->
    <link rel="icon" type="image/x-icon" href="../../static/images/favicon.ico" th:href="@{/images/favicon.ico}" />


    <title>Cryptolog</title>
</head>

<body>
<a href="#" class="scrolltop" id="scroll-top">
    <i class='bx bx-chevron-up scrolltop__icon'></i>
</a>
<header th:replace="fragments/header :: header"></header>
<main  class="l-main">
    <section class="login section bd-container"  >
    <div class="form-gap"></div>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
    <div class="panel-body">
        <div class="text-center">
        <form autocomplete="off" action="#" th:action="@{/register}" th:object="${user}" method="post"
              class="form-signin" role="form">
            <h3 class="form-signin-heading">Account Registration</h3>
            <div class="form-group">
                <div class="">
                    <input type="text" th:field="*{name}" placeholder="Name" class="form-control"/>
                    <p class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="text" th:field="*{email}" placeholder="Email"
                           class="form-control"/>
                    <p class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="password" th:field="*{password}"
                           placeholder="Password"
                           class="form-control"/>
                    <p class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <button type="submit" class="btn btn-primary btn-block">Register User</button>
                </div>
            </div>
            <span th:utext="${successMessage}"></span>
            <p>Already registered? <a href="/login">Login</a></p>
        </form>
        </div>
    </div>
            </div>
        </div>
    </div>
    </div>
</div>
    </section>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
<script src="https://unpkg.com/scrollreveal"></script>

<!--========== MAIN JS ==========-->
<script src="js/home.js"></script>
</body>
</html>