<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"> 
    <head>  
        <title>Reset Password</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    </head>  
    <body>
    <header  >
        <h1>Reset Password</h1>
        <img id="logo" src="../images/cryptologo_cyan.svg" alt="CryptoLog logo" width="30%" height="30%"/>

    </header>
    <main>
    <div class="container">
        <center>
            <h2>Enter new password:</h2>
            <form  th:action="@{/reset-password}" th:object="${user}" method="post">
                <table>  
                    <tr>  
                        <td><label for="email">Email</label></td>
                        <td><input id="email" th:field="*{email}" type="text" name="email" readonly></input></td>
                    </tr>              
                    <tr>  
                        <td><label for="password">Password</label></td>  
                        <td><input id= "password" th:field="*{password}" type="password" name="password"></input></td>
                    </tr>  
                    <tr>  

                        <td><input type="submit" value="Submit"></input></td>  
                    </tr>  
                </table>  
            </form> 
        </center>
    </div>
    </main>
    <footer>
        <p>&copy; 404 Name not found Co.</p>
    </footer>
    </body>  
</html>  
