<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"> 
    <head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <title>Reset Password</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    </head>  
    <body>
    <header  >
        <h1>Reset Password</h1>
        <img id="logo" src="../images/cryptologo_cyan.svg" alt="CryptoLog logo" width="15%" height="15%"/>

    </header>
    <main>
    <div class="container" >

            <h2>Enter new password:</h2>
            <form  th:action="@{/reset-password}" th:object="${user}" method="post">
                <table>  
                    <tr>  
                        <td><label for="email">Email</label></td>
                        <td><input id="email" th:field="*{email}" type="text" name="email" readonly/></td>
                    </tr>              
                    <tr>  
                        <td><label for="password">Password</label></td>  
                        <td><input id= "password" th:field="*{password}" type="password" name="password"/></td>
                    </tr>  
                    <tr>  

                        <td><input type="submit" value="Submit"/></td>
                    </tr>  
                </table>  
            </form> 

    </div>
    </main>
    <footer>
        <p>&copy; 404 Name not found Co.</p>
    </footer>
    </body>  
</html>  
