
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!--========== BOX ICONS ==========-->
	<link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

	<!--========== CSS ==========-->
	<link rel="stylesheet" th:href="@{/css/styles.css}" href="../../static/css/styles.css">
	<script src="https://kit.fontawesome.com/510c92cedb.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


	<title>Succes Forgot Password</title>

<body>
a href="#" class="scrolltop" id="scroll-top">
<i class='bx bx-chevron-up scrolltop__icon'></i>
</a>
<header th:replace="fragments/header :: header"></header>
<main class="messclass">
	<div class="containered">

		<span th:text="${message}"></span>
		<br>&nbsp;&nbsp;
		<p><a href="/login">Login</a> </p>
		&nbsp;&nbsp;
	</div>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
<script src="https://unpkg.com/scrollreveal"></script>

<!--========== MAIN JS ==========-->
<script src="js/home.js"></script>
</body>
</html>