<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"> 
	<head>
		<title>Password Reset</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
	</head>
	<body>
	<header  >
		<h1>Password Reset</h1>
		<img id="logo" src="../images/cryptologo_cyan.svg" alt="CryptoLog logo" width="15%" height="15%"/>

	</header>
	<main>
		<div class="containered">

			<span th:text="${message}"></span>

		</div>
	</main>
	<footer>
		<p>&copy; 404 Name not found Co.</p>
	</footer>
	</body>
</html>
