<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"> 
	<head>
		<title>Password Reset Success</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
	</head>
	<body>
	<header  >
		<h1>Password Reset</h1>
		<img id="logo" src="../images/cryptologo_cyan.svg" alt="CryptoLog logo" width="30%" height="30%"/>

	</header>
	<main>
		<div class="container">

      <span th:text="${message}"></span> <br/><br/><br/>
			<br>
			<p><a href="/login">Login</a> </p>


		</div>
	</main>
	<footer>
		<p>&copy; 404 Name not found Co.</p>
	</footer>
	</body>
</html>
