<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}">
    <link rel="stylesheet"  th:href="@{/webjars/font-awesome/5.12.0/css/all.css}">
    <!--    <link rel="stylesheet" href="main.css" th:href="@{css/main.css}">-->
    <title>Verification Email</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>
<body>
<header  >
    <h1>Welcome</h1>
    <img id="logo" src="../images/cryptologo_cyan.svg" alt="CryptoLog logo" width="30%" height="30%"/>
    <nav aria-label="primary navigation">
        <ul class="navlist">
            <li class="navlist-item"><a href="/">Home</a></li>
            <li class="navlist-item"><a href="/about">About</a></li>

            <li class="navlist-item"><a href="/login">Login</a></li>
            <li class="navlist-item"><a href="/register">Register</a></li>

        </ul>
    </nav>
</header>
<main>
    <div >

        <h2 class="text-center">Verify your email</h2>
        <p>Enter your e-mail address and we'll send you a verification link.</p>

        <div class="panel-body">

            <div th:if="${success}">
                <div class="alert alert-info"><span th:text="${success}"></span></div>
            </div>
            <div th:if="${emailError}">
                <div class="alert alert-danger"><span th:text="${emailError}"></span></div>
            </div>

            <form  th:action="@{/verification}" th:object="${user}" method="post">
                <!--                            <form th:action="@{/verification}" method="post">-->
                <div class="form-group">
                    <label for="email"></label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <!--                                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-envelope"></i></span>-->
                        </div>
                        <input id="email" type="email" th:value="${email}" name="email" class="form-control" placeholder="Email Address" />

                    </div>
                    <!--                                    <span class="text-danger"-->
                    <!--                                          th:if="${#fields.hasErrors('email')}"-->
                    <!--                                          th:errors="{email}"></span>-->
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block">Send Verification Link</button>
                </div>
            </form>


            <div class="row">

                New user? <a href="/" th:href="@{/register}">Register</a>

            </div>
        </div>
    </div>

    <script type="text/javascript" th:src="@{webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</main>
<footer>
    <p>&copy; 404 Name not found Co.</p>
</footer>
</body>
</html>