<footer class="footer section bd-container">
    <div class="footer__container bd-grid">
        <div class="footer__content">
            <a href="#" class="footer__logo">Cryptolog</a>
            <span class="footer__description">Take your
                        crypto to the
                        next level</span>
            <div>
                <a href="#" class="footer__social"><i class='bx bxl-facebook'></i></a>
                <a href="#" class="footer__social"><i class='bx bxl-instagram'></i></a>
                <a href="#" class="footer__social"><i class='bx bxl-twitter'></i></a>
            </div>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">Services</h3>
            <ul>
                <li><a href="#" class="footer__link">Portfolio</a></li>
                <li><a href="#" class="footer__link">Asset Allocation</a></li>
                <li><a href="#" class="footer__link">Yield Calculator</a></li>

            </ul>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">Information</h3>
            <ul>
                <li><a href="#" class="footer__link">Event</a></li>
                <li><a href="#" class="footer__link">Contact us</a></li>
                <li><a href="#" class="footer__link">Privacy policy</a></li>
                <li><a href="#" class="footer__link">Terms of services</a></li>
            </ul>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">Address</h3>
            <ul>
                <li>Wiener Neustadt - Austria</li>
                <li>BFI Street 13</li>
                <li>+43 676 55 55 555</li>
                <li>cryptolog.404@gmail.com</li>
            </ul>
        </div>
    </div>

    <p class="footer__copy">&copy; 2022 404NameNotFound All rights reserved</p>
</footer>