<header>
    <div class="containernav">
        <nav class="pre-nav">
            <a href="#" class="logo">
                <img id="logo" src="../images/cryptologo_cyan.svg" alt="CryptoLog logo" width="60%" height="60%"/>
            </a>
        </nav>
        <nav>
            <ul>
                <li><a href="/" class="active">Home</a></li>
                <li class="navlist-item"><a href="/about" >About</a></li>
                <li class="navlist-item"><a href="/register">Register</a></li>
                <li class="navlist-item"><a href="/login" class="highlight">Login</a></li>

            </ul>
        </nav>

    </div>
</header>