<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"/>

<head>
    <meta charset="UTF-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="../../static/js/main.js" th:src="@{/js/main.js}"></script>
    <title th:text="${title != null} ? ${title} : 'CryptoLog'"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/main.css" th:href="@{/css/main.css}">
</head>

<body>

<header>
    <div class="containernav">
        <nav class="pre-nav">
            <a href="#" class="logo">
                <img id="logo" src="../../static/images/cryptologo_cyan.svg" th:src="@{images/cryptologo_cyan.svg}" alt="CryptoLog logo" width="60%" height="60%">
            </a>
        </nav>
        <nav>
            <ul>
                <li class="navlist-item"><a href="/">Home</a></li>
                <li class="navlist-item"><a href="/about">About</a></li>
                <li class="navlist-item"><a href="/register">Register</a></li>
                <li class="navlist-item"><a href="/login" class="highlight">Login</a></li>
            </ul>
        </nav>
    </div>
</header>

<footer>
    <p>&copy; 404 Name not found Co.</p>
</footer>

</body>